<a href="#" onClick="javascript:page_move('/grade/attendance', '<%=academic%>', '<%=classname%>');" class="butt att">출석</a>
<a href="#" onClick="javascript:page_move('/grade/homework', '<%=academic%>', '<%=classname%>');" class="butt hw">과제</a>
<a href="#" onClick="javascript:page_move('/grade/test', '<%=academic%>', '<%=classname%>');" class="butt test">시험</a>